body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
  background-color: #d5dcdc;

}
.event {
  justify-content: center;
  width: 80%;
  text-align: center;
  padding: 10px;
  color: coral;
  font-weight: bold;
  font-family: fantasy;
  border: 2px solid ;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  
}
.slot {
  font-weight: bold;
  font-size: 20px;
  
}

.jumbotron {
  text-align: center;
  background-color: #1ba3c5;
  color: lightgray;
  border-radius: 0;
  border-bottom: 10px solid black;
  font-family: cursive;

}

.description{
  white-space: pre-wrap;
}


.saveBtn {
  border-left: 1px solid black;
  background-color: #06AED5;
  color: white;
  box-shadow: none;  
}

.saveBtn:hover {
  font-size: 25px;
  outline:none;
  
}
#currentDay {
  color: aqua;
  font-weight: bold;
}

.past {
  background-color: #929292;
  color: coral;
}

.present {
  background-color: #ff6961;
  color: white;
}

.future {
  background-color: #77dd77;
  color: white;
}